<h1>Fundamentos de TS</h1>
<button (click)="variables()">Variables</button>
<button (click)="otrasVariables()">Otras Variables</button>
<button (click)="tipoString()">Tipo String</button>
<button (click)="tipoNumber()">Tipo Number</button>
<button (click)="operadores()">operadores</button>
<button (click)="operadores()">operadores</button>
<button (click)="tipoAny()">tipo Unknown</button>
<button (click)="tipoUnknown()">Tipo Any</button>
<button (click)="asercionTipos()">asercion Tipos</button>
<button (click)="tiposUnion()">tipos Union</button>
<button (click)="tiposLiterales()">tipos Literales</button>
<button (click)="matrices()">matrices</button>